<!-- Bootstrap -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script> -->

 <!-- Bootstrap core seperate -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

<!-- GSAP -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>

<script src="js/index.js"></script>


<script>

    // GSAP Script
    gsap.from(".col-md-5", { duration: 1, ease: "circ" })
    gsap.from("#word", { duration: 1, y: 50 })
    gsap.from("#fetchButton", { duration: 1, y: -50 })
    gsap.to("#result", {
        duration: .2, border: "1px solid black", scale: 1, stagger: 0.09, rotationX: 360, onComplete: function () {
            gsap.to("#result", { duration: 1, scale: 1.09 })
        }
    })

    let tween = gsap.to(".desc", {
        y: -300,
        ease: "none",
        paused: true
    })

    document.querySelector("#fetchButton").onclick = () => tween.play();
    // End of GSAP Script


    // Tooltip Script
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    // End of Tooltip Script

    // Enable popover everywhere
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})

</script>

</body>

</html>